{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block css %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="{% static 'css/read.css' %}">
    <title>나만의 가계부 만들기</title>
    {% endblock css %}
</head>
<body>
    <div id="loader">
        <img style="margin-left: 50%; transform: translate(-50%);"src="{% static 'img/ompang.gif' %}">
    </div>
    <h2>Read</h2>
    <label>
        <input type="checkbox">
        <span class="check"></span>
    </label>
    <div class="box">
    <br>
    <a href="{% url 'hashtag' %}">hashtag 만들기</a>
    <br>
    <form method="GET">
        <select name="sort" id="sort">
            <option value="date" id="date">최신순</option>
            <option value="like_count" id="like_count">좋아요순</option>
        </select>
        <button type="submit">정렬</button>

        {% for cashbooks in cashbooks.all %}
        <h4>제목 :<a href="{% url 'detail' cashbooks.id %}">{{cashbooks.title}}</a></h4>
        <p>작성일: {{cashbooks.created_at}}</p>
        {% if user in cashbooks.like.all %}
        {% else %}
        <div class="heart"><p class="like">좋아요:{{ cashbooks.like_count }}개</p></div>
        {% endif %}
        {% endfor %}
    </form>
    </div>
    <script>
        function hide() {
            document.getElementById("loader").style.display="none";
        }
        self.setTimeout("hide()", 3000);
        // setTimeout(function(){
        //     fadeOut('.loader');
        // }, 3000);
        // setTimeout(function(){
        //     $('.loader').delay('3000').fadeOut();
        // });
    </script>
</body>
</html>